@font-face {
  font-family: "MyFontc";
  src: url("alarm clock.ttf") format("truetype");
}

@font-face {
  font-family: "MyFont1";
  src: url("title.ttf") format("truetype");
}

@font-face {
  font-family: "MyFont2";
  src: url("Atari.ttf") format("truetype");
}

body {
  background-color: #121212;
  color: #fff;
}

h1 {
  font-family: "MyFont1";
  font-weight: 100;
  padding-top: 5px;
  border: 3px double blue;
  border-radius: 15px;
  width: 90%;
  margin-left: 5%;
}

h3 {
  font-family: "MyFont2";
}

button {
  position: relative;
  text-shadow: darkgrey 1px 1px 1px, darkgrey -1px -1px 1px,
    darkgrey -1px 1px 1px, darkgrey 1px -1px 1px;
  margin-left: 2rem;
  width: 3.6rem;
  height: 3.6rem;
  text-align: center;
  font-size: .8rem;
  font-weight: bold;
  background-color: red;
  background-image: radial-gradient(
    1.2rem 1.2rem,
    circle closest-side,
    red 0.5rem,
    #ff8080 1rem,
    #ff8080 1.2rem,
    #cc0000 1.8rem
  );
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 0.4rem 0.2rem,
    rgba(255, 255, 255, 0.7) 0 0.1rem 0.1rem inset, red 0 0.3rem 0.4rem inset,
    rgba(0, 0, 0, 0.3) 0 0.8rem 0.4rem inset,
    rgba(255, 255, 255, 0.5) 0 -2px 3px inset, red 0 -7px 20px inset;
  border-radius: 500px;
  border: red 1px solid;
  display: block;
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0.3rem;
  background: #cc0000;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  box-shadow: rgba(204, 0, 0, 0.8) 0 4px 5px inset,
    rgba(255, 255, 255, 0.5) 0 12px 5px inset,
    rgba(153, 0, 0, 0.7) 0 -12px 5px inset, rgba(0, 0, 0, 0.8) 0 4px 8px;
}

button:hover {
  cursor: pointer;
  font-size: .7rem;
  background-image: radial-gradient(
    1.2rem 1.2rem,
    circle closest-side,
    red 0.5rem,
    #ff8080 1.1rem,
    #ff8080 1.2rem,
    #cc0000 1.8rem
  );
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 0.4rem 0.2rem,
    rgba(275, 255, 255, 0.7) 0 0.1rem 0.1rem inset, tomato 0 0.3rem 0.4rem inset,
    rgba(0, 0, 0, 0.3) 0 0.8rem 0.9rem inset,
    rgba(255, 255, 275, 0.5) 0 -2px 3px inset, red 0 -7px 20px inset;
}

button:active {
  cursor: crosshair;
  font-size: .8rem;
  background-image: radial-gradient(
    1.2rem 1.2rem,
    circle closest-side,
    black 0.5rem,
    #ff8080 1.1rem,
    #ff8080 1.2rem,
    #cc0000 1.8rem
  );
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 0.4rem 0.2rem,
    rgba(275, 255, 255, 0.7) 0 0.1rem 0.1rem inset, darkred 0 0.3rem 0.4rem inset,
    rgba(0, 0, 0, 0.3) 0 0.8rem 0.9rem inset,
    rgba(255, 255, 275, 0.5) 0 -2px 3px inset, red 0 -7px 20px inset;
}

input {
  background-color: #1e1e1e;
  border: 1px solid limegreen;
  box-shadow: 0 0 2px limegreen, 0 0 2px limegreen, 0 0 2px limegreen,
  0 0 2px limegreen, inset 0 0 2px limegreen, inset 0 0 2px limegreen, inset 0 0 2px limegreen,
  inset 0 0 2px limegreen;
  width: 20%;
}

label {
  font-family: "MyFont2";
  font-size: .1em;
  color: #ddd;
  text-position: center;
  display: flex;
  align-items: center;
  color: limegreen;
  text-shadow: 0 0 2px darkgreen, 0 0 1px darkgreen, 0 0 1px darkgreen,
  0 0 1px darkgreen;
}

span {
  word-break: break-all;
}
